<!DOCTYPE html>
<html>
<head>

<title>AIDataLab</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/start.css') }}">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<style>
    @font-face{
    font-family: 'Oswald', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
    
}
</style>

</head>

<body class="body">
    <div class="w3-container">
        <div class="menu">
            <img src="{{ url_for('static', filename='site_assets/icon.png') }}" class="icon">
            <b class="title">AIDataLab</b>

            <div class="topnav">
                <a class="active" href="index.html">Home</a>
                <a href="#contact">Contact</a>
                <a href="#about">About</a>
            </div>
        </div>

        
    </div>
    
    <div class="mid-page"> 
        
        <div class="mid-text">
            <b><p class=about>Upload de arquivo</p></b>
            <p>Sobre o tipo de arquivo a ser enviado: </p>
            <p>o arquivo deve ser do tipo "csv" e deve conter as seguintes colunas:</p>
        
        <div class="list"> 
           
                <p>1.'critical_temp' indicando a temperatura critica do elemento quimico</p>
                <p>2.'mean_atomic_mass' indicando a média da massa atômica</p>
                <p>3.'mean_ThermalConductivity' condutividade termica</p>
                <p>4.'mean_ElectronAffinity' afinidade elétrica</p>
                <p>5.'mean_Valence' camada de valência</p>
                <p>6.'mean_atomic_radius' o raio atômico</p>
             
        </div> 
            <p>Observações: entenda que essa é apenas uma versão de testes não representa a versão final, portanto irá sofrer várias alterações</p>
            </div>
        <form class="form" method="post" enctype="multipart/form-data" action="/linear">
            <input type="file" name="file"/>
            
            <div class="buttons">
                <button class="button jump" type="submit" ind="login-button" value="Iniciar">Iniciar</button>
            </div>    
        </form>

       
        
       
    </div>

    <div class="colaboradores">
        
        <p class="titleColaboradores">Colaboradores</p>

        <div class="container">
            <div class="row">
              <div class="col-sm" id="col1">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"  src="{{ url_for('static', filename='site_assets/pericles.jpg') }}" alt="Imagem de capa do card">
                    <div class="card-body">
                      <p><b>Péricles Miranda</b></p>
                      <p class="card-text">Professor/Orientador</p>
                    </div>
                  </div>
              </div>
              <div class="col-sm" id="col2">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"  src="{{ url_for('static', filename='site_assets/LucasA.jpg') }}" alt="Imagem de capa do card">
                    <div class="card-body">
                      <p><b>Lucas Amorim</b></p>
                      <p class="card-text">Aluno/Orientando</p>
                    </div>
              </div>
             
            </div>
          </div>
    
    </div>
    <div class="bottom-page">
        <p class="bottom-title">Saiba Mais</p>
        <div class="bottom-nav">
            <a class="active" href="#home">Home</a>
            <a href="#news">AiBoxLab</a>
            <a href="#contact">Contato</a>
            <a href="#about">Outro Projetos</a>
        </div>
    </div>
    
</body>

</html>