.body{
    background-color: #e9eaf2;
}
.w3-container{
    
}
.menu{
    background-color: transparent;
    margin-top: 0px;
    width: 50%;
    margin-left: 30%;
    margin-top: 1%;
}
.icon{
    background-image: url(site_assets/icon.png);
    width: 50px;
    height: 50px;
    margin-top: -1%;
    margin-left: 5%;
}
.mid-title{
    align-content: center;
    margin-top: 2%;
    margin-left: 45%;
    padding-top: 5%;
}
.unboxing{
    text-align: center;
    padding-bottom: 75px;
    background-color: transparent;
    text-align: center;
    color: white;
    margin-left: 0%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.title{
    font-weight: 700;
    font-size: 24px;
    height: 20px;
    font-weight: 800;
    color: #467be5;
    text-shadow: 2px 2px 2px black;
    margin-left: 2%;
    margin-top: 2%;
    
}
.mid-page{
    background-color: #e9eaf2;
    margin-top: 10%;
    text-align: center;
    padding-bottom: 5%;
}
.mid-text{
    text-align: center;
}
.about{
    font-size: 32px;
    height: 20px;
    font-weight: 800;
    font-family: Impact;
    color: #333;
    padding: 2%;
    text-align: center;
}
/*navbar */
.topnav {
    margin-left: 60%;
    margin-top: -4%;
    overflow: hidden;
    background-color: transparent;
  }
  
  .topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: grey;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 2px 2px 2px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .topnav a.active {
    color: grey;
    background-color: #467be5;    
}

/* buttons */
.buttons{
    margin-left: 3%;
}
.button {
    border-radius: 4px;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-right: 15px;
    margin: 5%;
    
  }

  /* Shadow and Jump */
.jump {
    background-color: #9CABF3;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: all .3s ease 0s;
  }
  
.jump:hover {
    background-color: #495DD3;
    box-shadow: 0 15px 20px rgba(73, 93, 211, .4);
    transform: translateY(-7px);
  }

/*bottom */

.colaboradores{
    margin-top: 0%;
    background-color: cornflowerblue;
    padding-bottom: 0%;
    padding-top: 5%;
    
}
.container{
    padding-top: 5%;
    padding-bottom: 5%;
}
.card{
    border: none;
}
.card-body{
    border: none;
}
#col1{
    margin-left: 10%;
    
}

#col2{
    margin-left: 20%;
}
.foto1{
    border-radius: 50%;
    margin-left: 32%;
    width: 10%;
    height: auto;
}
.foto2{
    border-radius: 50%;
    margin-left: 20%;
    width: 20%;
    height: auto;
    
}

.titleColaboradores{
    color: #333;
    font-family: Impact;
    font-size: 32px;
    font-weight: 700;
    margin-top: -5%;
    text-align: center;
}
#lucas{
    margin-left: 50%;
    margin-top: -15%;
}
#pericles{
    margin-top: 10%;
}

.bottom-page{
    background-color: white;
    padding-bottom: 5%;
}
.bottom-title{
    color: #333;
    font-family: Impact;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    
}
.bottom-nav{
    margin-left: 25%;
    margin-top: 2%;
    overflow: hidden;
    background-color: transparent;
}
.bottom-nav a{
    float: left;
    text-align: center;
    padding: 1% 5%;
    margin-left: 2%;
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

